# ------------------------------
# macOS
# ------------------------------

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

/.vscode
/.fleet
/.idea
/target
/.cargo
/z
/temp
/.data

# Environment
.env

emukc.config.toml
