# ------------------------------
# macOS
# ------------------------------

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

/.vscode
/.fleet
/.idea
/target
/.cargo
/z
/temp
/.data

# Environment
.env

# AI slop
.omc/
.cocoindex_code/
.sisyphus/

emukc.config.toml
